@import "variables.scss";
.Sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color:$primary-color ;
	transition: all .5s ease-out;
	.logo {
		padding: 8px;
		height: 60px;
		a {
			display: inline-block;
			img.ui.image {
				max-width:110px;
				transition: all .5s ease-out;
			}
		}
	}
	.mainMenu {
		overflow: auto;
    	height: calc(100vh - 61px);
		.topic {
			display: flex;
			justify-content: space-between;
		}
		.subMenu {
			margin-left: 15px!important;
		}
		.ui.menu {
			width: 100%;
			.item {
				color: $white-color;
				border-radius: 0!important;
				padding: 15px!important;
				margin: 0!important;
				display: flex;
				align-items: center;
				img.ui.image {
					max-width: 15px;
					margin-right: 15px;
					&.blue {
						display: none;
					}
				}
				span {
				}
				&:hover {
					background-color: $secondary-color;
					color: $primary-color;
					.blue {
						display: block!important;
					}
					.white {
						display: none!important;
					}
				}
				&.active {
					background-color: $secondary-color;
					color: $primary-color;
					&:hover {
						background-color: $secondary-color;
						color: $primary-color;
					}
					.blue {
						display: block!important;
					}
					.white {
						display: none!important;
					}
				}
				&.lessonPlan {
					position: relative;
					.icon {
						position: absolute;
						right: 10px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			.lessonPlanMenu {
				padding-left: 30px!important;	
				display: none;
				&.show {
					display: block;
				}
			}
		}
		// .ui.dropdown {
		// 	display: flex;
		// 	align-items: center;
		// 	padding: 15px;
		// 	justify-content: space-between;
		// 	>span {
		// 		display: flex;
		// 		align-items: center;
		// 		color: $white-color;
		// 			img.ui.image {
		// 			max-width: 15px;
		// 			margin-right: 15px;
		// 			// &.blue {
		// 			// 	display: none;
		// 			// }
		// 		}
		// 	}
		// 	.dropdown.icon {
		// 		color: $white-color!important;
		// 	}
			// >.menu {
			// 	left: 0;
			// 	right: 0;
			// 	background-color: $primary-color;
			// 	>.item {
			// 		padding: 15px!important;
			// 		span {
			// 			color: $white-color!important;
			// 		}
					
			// 	}
			// }
		// }
	}
}

.App {
	&.menuCollapse {
		.Sidebar { 
			width: 80px;
			transition: all .5s ease-out;
			.logo {
				img.ui.image {
					max-width: 60px;
					transition: all .5s ease-out;
				}
			}
			.mainMenu {
				.ui.menu {
					.item {
						justify-content: center;
						img.ui.image {
							margin-right: 0px;
						}
						span {
							display: none;
							transition: all .5s ease-out;
						}
					}
				}
			}
		}
	}
}